@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-custom: #9fdf12;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  background-color: black;
}
