@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-custom: #9fdf12;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  background-color: black;
}

.number-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 20px;
  perspective: 1000px;
}

.number {
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.selected {
  color: red;
}

.number:hover {
  transform: scale(1.2);
}
